
.container>.row:first-child{
    border-top: 3px solid #E23E57;  
}
a{
    text-decoration: none !important;
}
#top-row a{
    color: #444 !important;
}
#right-col .row:last-child{
    margin-top: 10px;
}
#right-col .row:first-child{
    padding: 0;
    margin: 0;    
}
.special-offer{
    position: relative;
}
.special-offer p{
    position: absolute;
    top: 20%;
    left: 28%;
    color: #F6F6F6;
    font-size: 1.2rem;
}
#old-price{
    color: #666;
}
#show-all{
    margin-top: 10px !important;
    
}

#description{
    margin-bottom: 40px !important;
    
}
#description p{
    color: #444;
}
img{
    width: 100%;
}
#description h3{
    font-size: 18px;
}
#off-percentage{
    background-color: #E23E57;
    border-radius: 14px;
    width: 100%;
    display: inline-block;
    color: #F6F6F6;
}

#price div:nth-child(2){
    padding: 0;
    margin: 0;
}
#price p{
    margin: 0;
    text-align: center;
    float: left;
}
#enter-price input{
    background-color: #E23E57;
    width: 35%;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    border: 0px;
    color: #F6F6F6;
    margin-top: 20px;
}
#left-col .col-1{
    padding: 0;
}
#left-col .row{ 
    padding: 15px 20px 15px 0px;
    margin: 0;
    color: #444;
    font-size: 14px;
}
.speech-bubble {
    position:relative;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color:#FFF;
    color: #444;
    font: normal 14px "Segoe UI", Arial, Sans-serif;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #F47C7C !important;
}
.speech-bubble p {
    font-size: 1.25em;
}

.speech-bubble:before,
.speech-bubble:after {
    content: "\0020";
    display:block;
    position:absolute;
    top: 40%;
    left: 100%;
    z-index:2;
    width: 0;
    height: 0;
    overflow:hidden;
    border: solid 6px transparent;
    border-right: 0;
    border-left-color:#fff;
}
.speech-bubble:before {
    top: 40%;
    left: 100.5%;
    z-index:1;
    border-left-color:#F47C7C;      
}
.col-5 img{
    margin-top: 25%;
}


